<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="5 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %date{DD/MM/YYYY HH:mm:ss.} %-5level [%thread] [%class.%method:%line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="APP_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${BEADS_EMAIL_LOG_DIR}/beads_email.log</file>
        <append>false</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %date{DD/MM/yyyy HH:mm:ss.} %-5level [%thread] [%class.%method:%line] %msg%n
            </pattern>
        </encoder>

    </appender>

    <logger name="com.beads.email" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APP_LOG_FILE"/>
    </root>

</configuration>