h1{
     color:aqua;
 }

#navigation{
    color:red;
}


body {
    background: #eee;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}


#productGroup {
    margin: 20px auto;
    width: 250px;
    float: left;
}

#main {
    width: 822px;
    float: left;
    padding: 7px;
    padding-top: 0px;
    overflow: hidden;
}

#search {
    width: 1024px;

}

#page {
    width: 1024px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px 3px #d3d3d3;
    border-radius: 4px;
}

nav.vertical {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    overflow: hidden;
    text-align: center;
}


nav.vertical > ul > li > a {
    background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
    color: rgb(255,255,255);
    display: block;
    font-size: .85rem;
    font-weight: 500;
    height: 40px;
    letter-spacing: .5rem;
    line-height: 40px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    text-transform: uppercase;
    transition: all .1s ease;
    text-decoration: none;
}

nav.vertical > ul > li > a:hover {
    background-color: rgb(114, 51, 98);
    background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    cursor: pointer;
}

nav.vertical > ul > li > div {
    background-color: rgb(255,255,255);
}

nav.vertical > ul > li > div > ul {
    list-style-type: none;
}

nav.vertical > ul > li > div > ul > li > a {
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgba(0,0,0,.05);
    color: #333331;
    display: block;
    font-size: 1.1rem;
    padding: 10px 0;
    text-decoration: none;
    transition: all 0.15s linear;
}

nav.vertical > ul > li > div > ul > li:hover > a {
    background-color: lightBlue;
    color: rgb(255,255,255);
}

img {
    max-width: 100%;
    max-height: 100%;
}