/.idea

/beads2.iml

/webapps/ROOT.war

/target/beads2/WEB-INF/classes

/target/beads2/WEB-INF/lib

/target/classes/.gitkeep

/target/beads2/resources/img/glyphicons-halflings-white.png
/target/beads2/resources/img/glyphicons-halflings.png
/target/beads2/resources/js/bootstrap.js
/target/beads2/resources/js/bootstrap.min.js
/target/beads2/resources/js/jquery-1.11.1.min.js
/target/beads2/resources/js/jquery_scripts.js
/target/classes/com/lena/configuration/HibernateConfiguration.class
/target/classes/com/lena/configuration/WebAppInitializer.class
/target/classes/com/lena/configuration/WebConfig.class
/target/classes/com/lena/dao/ProductDao.class
/target/classes/com/lena/dao/ProductDaoImpl.class

/target
