<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div id="head" th:include="head :: head"></div>
    <title>Содержимое корзины</title>
</head>
<body>
<div th:include="layout :: header"></div>
        <div id="message" class="alert alert-info" style="margin-top: 50px; text-align: center">В вашей корзине
            <em th:text="${model.basketSize}">SOME</em> товаров.
            Проверьте заказ и нажмите оформить заказ для начала его выполнения
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>№</th>
                <th>Товар</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th>Удалить из корзины</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="item,status : ${model.items}" th:for="${status.index}">

                <td th:text="${status.index}+1"></td>
                <td>
                    <img th:src="@{getPhoto?id=}+${item.product.id}" height="100" width="100" style="float:left" alt="no image">
                    <div th:inline="text" style="margin-left:130px">
                        <b>Код продукта</b> : [[${item.product.articul}]]
                        <br><b>Описание</b> : [[${item.product.name}]]</br>
                        <b>Цена</b> : [[${item.product.price}]]
                    </div>
                    </img>
                </td>
                <td>
                    <input id="quantity" readonly="true" type="number" size="3" th:value="${item.quantity}"/>
                </td>
                <td>
                    <div th:inline="text">
                        <b>[[${item.itemPrice}]] грн.</b>
                    </div>
                </td>
                <td style="vertical-align: middle;">
                    <button id="deleteButton" th:attr="productId=${item.product.id}" class="btn btn-default" onclick="deleteProduct($(this))">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:inline="text" class="totalPrice" style="margin-bottom: 10px; font-style: italic">
            <b>Итого : [[${model.totalPrice}]] грн.</b>
        </div>

        <button id="makeOrder" class="btn btn-info" style="margin: 10px" onclick="showSubmitOrderForm()">Оформить заказ</button>

        <div id="submitOrder" hidden="true" style="margin-left: 100px">
            <form action="#" th:action="@{/submitOrder}" th:object="${order}" method="post">
                <table class="center">
                    <tr>
                        <td>email</td>
                        <td>
                            <div id="email_error" style="display: none; color: #b94a48;">not correct email</div>
                            <input id="email_field" onkeypress="removeEmailError()" onfocusout="checkEmail()" type="text" th:field="*{email}" />
                        </td>
                    </tr>
                    <tr>
                        <td>телефон</td>
                        <td><input type="text" th:field="*{phoneNumber}"/></td>
                    </tr>
                    <tr>
                        <td>Коментарий</td>
                        <td><textarea cols="50" rows="5"  th:field="*{orderDetails}"></textarea></td>
                    </tr>
                </table>
                <input id="Order_button" type="submit" value="Заказать"/>
            </form>
        </div>

</body>
</html>
