<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div id="head" th:include="head :: head"></div>
</head>
<body>
<div id="header" th:include="layout :: header"></div>
<div class="center">
    Для связи Вы можете использовать
    <div id="email">
        почтовый адрес : <b>elenachobanu@gmail.com</b>
    </div>
    <a href="mailto:elenachobanu@gmail.com">Написать письмо</a>

    <div id="phone">
        Телефон : <a href="callto:+380682561577">+38(068)256-15-77</a>
    </div>
</div>
</body>
</html>