<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="main">
    <table id="Tableproducts" class="table table-striped">
        <tr th:each="rowItem : ${pv.ProductTableList}" pages:paginate="5">
            <td th:each="item : ${rowItem}" align="center">
                <div class="center">
                    <a th:href="@{/showProduct?id=}+${item.id}">
                        <div th:text="${item.name}">
                            Название продукта
                        </div>
                    </a>
                    <div class="vertical">
                        Артикул:
                        <span th:text="${item.productCode}" style="font-weight: bold"/>
                    </div>
                    <div class="center">
                        <a th:href="@{/showProduct?id=}+${item.id}">
                            <img th:src="@{getPhoto?id=}+${item.id}" alt="no image" class="picture">
                            </img>
                        </a>
                    </div>
                    <div class="vertical" style="display: block; font-weight: bold">
                        <span th:text="${item.price}"/>
                         грн
                        <button class="btn" th:id="${item.id}" onclick="addToBasket($(this))">
                            Добавить в заказ
                        </button>
                    </div>

                </div>
            </td>
        </tr>
    </table>

</div>

<div th:fragment="productGroup">
    <nav class="vertical">
        <ul class="nav">
            <li th:each="category : ${pv.categories}"><a th:text="${category.name}"></a>

                <div>
                    <ul>
                        <li th:each="subCat : ${category.childGroups}"><a th:text="${subCat.name}"
                                                                          th:href="@{/loadProductsByGroupId?(groupId=${subCat.id})}"></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div th:fragment="search1">

    <form th:action="@{/searchProducts}" method="get" role="search">

        <input type="search" class="form-control" name="searchString" th:field="${pv.searchString}" style="width:500px"/>
        <button id="btnSearch" type="submit" class="btn btn-default" style="margin-top: -10px">Поиск</button>
    </form>
    <div th:if="${pv.size == 0}" style="text-align: center; margin-left: -200px" class="alert alert-error">
        По вашему запросу ничего не найдено
    </div>
</div>

<div th:fragment="head">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">Список товара</a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <a class="btn btn-primary" th:href="@{/showBasket}">
                            Показать содержимое корзины
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

</html>
