<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<div th:fragment="productGroup">
    <nav class="vertical">
        <ul class="nav">
            <li th:each="category : ${pv.categories}">
                <a th:text="${category.name}"></a>
                <div>
                    <ul>
                        <li th:each="subCat : ${category.childGroups}">
                            <a th:text="${subCat.name}" th:href="@{/loadProductsByGroupId?(groupId=${subCat.id})}"></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>


<div th:fragment="search">
    <table>
        <tbody>
        <tr>
            <td width="25%" height="80%">
                <img src="/resources/img/na-igle-round.jpg"/>

                <div class="center" style="padding-top: 10px">
                    <form th:action="@{/searchProducts}" method="get" role="search" style="margin: 0 0 0 0">
                        <input type="search" name="searchString" th:field="${pv.searchString}"/>
                        <button id="btnSearch" type="submit" class="btn btn-default" style="margin-top: -10px">Поиск</button>
                    </form>
                </div>
            </td>
            <td width="50%" style="vertical-align: top">
                <img src="/resources/img/roza.jpg"/>
            </td>
            <td width="20%" align="center" valign="top">
                <img class="vertical" src="/resources/img/basket.jpg"/>
                <a class="btn btn-primary" th:href="@{/showBasket}">
                    Показать содержимое корзины
                </a>

                <div class="vertical">
                    <a class="bold" href="mailto:elenachobanu@gmail.com">elenachobanu@gmail.com</a>
                </div>
                <div>
                    <a href="callto:+380682561577">+38(068)256-15-77</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${pv.size == 0}" style="text-align: center; margin-left: -200px" class="alert alert-error center">
        По вашему запросу ничего не найдено
    </div>
</div>


<div th:fragment="header">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid" style="background-color: #ff84e4">
            <ul class="nav">
                <a class="brand" th:href="@{/}">
                    Главная
                </a>
                <a class="brand" th:href="@{/payment}">
                    Оплата и доставка
                </a>
                <a class="brand" th:href="@{/contact}">
                    Контакты
                </a>
            </ul>
        </div>
    </div>

</div>

</html>
