<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div id="head" th:include="head :: head"></div>
</head>
<body>
<div id="header" th:include="layout :: header"></div>
<div>
    <h4 style="text-align: center">Способы оплаты</h4>

    <div>
        <p style="text-align: center"><b>Оплата (Украина):</b></p>

        <div style="text-align: left">
            <p>100% предоплата на карту ПриватБанка (+1% услуги банка) (реквизиты высылаются со счетом в СМС или письмом на Е-мейл)</p>

            <p>Назначение платежа не указывайте</p>

            <p>Счет можно пополнить 3 способами:</p>

            <ol>
                <li>Терминал самообслуживания ПриватБанка (+2 грн комиссия)</li>
                <li>Касса любого отделения ПриватБанка (+ 2 грн комиссия)</li>
                <li>Приват24 — система электронных платежей</li>
            </ol>
            <p>После оплаты, сообщите мне, пожалуйста, сумму и время оплаты, ФИО, номер телефона, город и номер отделения Новой
                Почты, где Вам удобнее получить Ваш заказ.</p>

            <p>Доставка (Украина): Новой Почтой. Доставку оплачивает получатель (от 25грн при получении ).</p>

            <p>Или укрпочтой (предоплата+10-15грн)</p>

            <p>Сколько ждать: Товар, который есть в наличии, оплеченный до 12-00, отправляется в тот же день или на следующий
                день (в зависимости от загруженности, до 3-х дней).</p>

            <p>Товар ПОД ЗАКАЗ: срок выполнения 10-14 дней).</p>
        </div>
    </div>
    <div>
        <p style="text-align: center"><b>Оплата (из России и др.)</b></p>
    </div>
    <p>Осуществляется денежным переводом</p>
    <ul>
        <li>Золотая корона</li>
        <li>PrivatMoney</li>
        <li>Unistream</li>
        <li>Western Union</li>
        <li>Contact</li>
        <li>Coinstar</li>
        <li>Money Gram</li>
    </ul>
    <p>или другим денежным переводом (по договоренности)</p>

    <p>Назначение платежа не указывайте</p>

    <p><b>ВАЖНО!!!</b> Учитывайте процент банка за перевод, мне должна поступить точная сумма заказа </p>

    <p><b>ВАЖНО!!!</b> После отправки перевода необходимо сообщить мне:</p>
    <ol>
        <li>систему перевода и контрольный номер</li>
        <li>ФИО отправителя</li>
        <li>страну, город</li>
        <li>сумму и валюту перевода</li>
        <li>данные для отправки</li>
    </ol>
    <p>Также можно оплатить из дома картой Кукуруза (выдается в Евросети для платежей Золотая корона)</p>
</div>
</body>
</html>