<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="productDetailView">
    <table width="100%" border="0">
        <tr>
            <td class="left border" width="500">
                <a th:href="@{/showProduct?id=}+${pv.product.id}">
                    <img th:src="@{getPhoto?id=}+${pv.product.id}" alt="no image" class="big_picture"/>
                </a>
            </td>
            <td class="left" style="vertical-align: top">
                <div class="vertical bold">
                    <div>Название:</div>
                    <span th:text="${pv.product.name}"/>
                </div>
                <div class="vertical">
                    <b>Артикул:</b>
                    <span th:text="${pv.product.articul}"/>
                </div>
                <div class="vertical" style="display: block">
                    <span th:text="${pv.product.description}"/>
                </div>
                <div>
                    <b>Количество:</b>
                    <input id="quantity" type="number"/>
                </div>
                <div class="vertical" >
                    <b>Цена:</b>
                    <span class="alert" th:inline="text">
                        [[${pv.product.price}]] грн
                    </span>
                </div>
                <div class="vertical">
                    <button class="btn" th:id="${pv.product.id}" onclick="addToBasket($(this))">
                        Добавить в заказ
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
</html>