<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мир бисера</title>
    <div id="head" th:include="head :: head"></div>
</head>
<body>
    <div id="header" th:include="layout :: header"></div>
    <div th:include="layout :: search"></div>

    <table>
        <tr>
            <td valign="top">
                <div th:include="layout :: productGroup"></div>
            </td>
            <td valign="top">
                <div id="content-main" th:include="productDetail :: productDetailView"></div>
            </td>
        </tr>
    </table>

</body>
</html>
