<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <style type="text/css">
        .body{
            background-color: #d5ebed;
            margin-top: 15px;
            margin-left: 30px;
        }

        .text{
            margin-top: 15px;
            margin-left: 30px;
            color: #f7850a;
            font-size:20px;
            font-weight:bold;
            font-style:italic;
        }

        .table{
            margin-top: 15px;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            color: black;
            margin-left: 30px;
            width: 70%;
        }

        .new_order{
            margin-top: 15px;
            color: #f7850a;
            text-align: center;
            font-size:25px;
            font-weight:bold;
            font-style:italic;
        }

        .table_title{
            background-color: #f7850a;
            text-transform: uppercase;
            font-style: oblique;
        }

        .table_body{
            background-color: #c9c3bb;
            opacity: .6;
        }
    </style>
</head>

<body class="body">

<div>
    <h3 class="new_order">Вы получили новый заказ № ${order.id}</h3>
</div>

<div class="text">
    Телефон клиента : ${order.phoneNumber}
</div>
<div class="text">
    email клиента : ${order.email}
</div>

<table border="1px" class="table">
    #foreach( $orderItem in $order.orderItems )
    <tr class="table_title">
        <th>Ид</th>
        <th>Артикул</th>
        <th>Кол-во</th>
        <th>Продукт</th>
        <th>Цена</th>
    </tr>
    <tr class="table_body">
        <td>$orderItem.id</td>
        <td>$orderItem.articul</td>
        <td>$orderItem.quantity</td>
        <td>$orderItem.product.name</td>
        <td>$orderItem.itemPrice</td>
    </tr>
    #end
</table>
<div class="text">
    <b>Cумма заказа : $order.totalPrice</b>
</div>
<div class="text">
    Адрес доставки :
    $order.deliveryAddress
</div>
<div class="text">
    Коментарий клиента :
    $order.orderDetails
</div>
</body>

</html>