.navbar .container-fluid {
    text-align: center;
}

.navbar .brand {
    font: 20px bold sans-serif;
    text-shadow: 0 0 0 black;
}

.navbar .container-fluid .nav {
    float: none;
    display:inline-block;
}

.vertical {
    padding: 10px 0 10px 0;
}

.border {
    padding: 10px 10px 10px 10px;
    border-radius: 10px
}

.bold {
    font-weight: bold;
}

.big_picture {
    max-width:  500px;
    max-height: 800px;
    border-radius: 15px
}

.picture {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    border-radius: 15px
}

.center {
    align-content: center;
    text-align: center;
}

#wrapper {
    width:900px;
    margin:0px auto;
    padding:10px;
}

#header {
    padding:10px;
    height: 40px;
}


#productGroup {
    margin: 20px auto;
    width: 250px;
    float: left;
}

#main {
    width: 822px;
    float: left;
    padding: 7px;
    padding-top: 0px;
    overflow: hidden;
}

#search {
    margin-left: 300px;
}

#content {
    margin-top:10px;
    padding-bottom:10px;
}


#content-main {
    margin-left:10px;
    width:965px;
}

nav.vertical {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
}


nav.vertical > ul > li > a {
    background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    color: rgb(255,255,255);
    height: 40px;
    line-height: 40px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    text-transform: uppercase;
    transition: all .1s ease;
}

nav.vertical > ul > li > a:hover {
    background-color: rgb(114, 51, 98);
    background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    cursor: pointer;
}

nav.vertical > ul > li > div {
    background-color: rgb(255,255,255);
}

nav.vertical > ul > li > div > ul {
    list-style-type: none;
}

nav.vertical > ul > li > div > ul > li > a {
    background-color: rgb(255,255,255);
    color: #333331;
    display: block;
    padding: 10px 0;
}

nav.vertical > ul > li > div > ul > li:hover > a {
    background-color: lightBlue;
    color: rgb(255,255,255);
}

#vertical {
    vertical-align: middle;
}