<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Alexey Dranchuk"/>

    <title>Здравствуйте Show basket state</title>

    <link href="/resources/css/bootstrap.css" rel="stylesheet"/>
    <!-- See http://twitter.github.com/bootstrap/scaffolding.html#responsive -->

    <link href="/resources/css/bootstrap-responsive.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/resources/js/jquery-1.11.1.min.js"  type="text/javascript"></script>

    <script type="text/javascript">
        function showSubmitOrderForm() {
            $("#submitOrder").show();
            $("#makeOrder").prop("disabled", "true");
        }

        function makeOrder(button) {
            $.ajax({
                url: "/submitOrder",
                type: "PUT",
                contentType:"application/json; charset=utf-8",
                data: ' ',
                success: function () {
                    console.log("successfully created order");
                },
                error : function() {
                    console.log("Error add to basket");
                }
            });
        }
    </script>

</head>
<body>
    <div th:include="layout :: head"></div>
    <div class="row-fluid">
        <div class="span9">

            <div id="message" class="alert alert-info">
                Сейчас в корзине <em th:text="${shoppingCardSize}">SOME</em> штук
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="item,status : ${products}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                </tr>
                </tbody>
            </table>

            <button id="makeOrder" onclick="showSubmitOrderForm()">Оформить заказ</button>

            <div id="submitOrder" hidden="true">
                <form action="#" th:action="@{/submitOrder}" th:object="${order}" method="post">
                    <table>
                        <tr>
                            <td>email</td>
                            <td><input type="text" th:field="*{email}" /></td>
                        </tr>
                        <tr>
                            <td>details</td>
                            <td><textarea th:field="*{orderDetails}"></textarea></td>
                        </tr>
                    </table>
                    <input type="submit" value="Заказать"/>
                </form>
            </div>

        </div>
    </div>
</body>
</html>
