<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="main">
    <table id="products" class="table table-striped">
        <tr th:each="item : ${pv.products}">
            <td>
                    <img class="" th:src="@{getPhoto?id=}+${item.id}" height="50" width="50"/>
                    <span th:text="${item.id}"/>
                    <span th:inline="text">[[${item.name}]]</span>
            </td>
            <td valign="middle">
                <button class="btn" th:id="${item.id}" onclick="addToBasket($(this))">Добавить в заказ
                </button>
            </td>
        </tr>
    </table>
</div>

<div th:fragment="productGroup">
        <nav class="vertical">
            <ul class="nav">
                <li th:each="category : ${pv.categories}"><a th:text="${category.name}"></a>
                    <div>
                        <ul>
                            <li th:each="subCat : ${category.childGroups}"><a th:text="${subCat.name}"
                                                                              th:href="@{/loadProductsByGroupId?(groupId=${subCat.id})}"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
</div>

<div th:fragment="search">
    <form th:action="@{/searchProducts}" method="get" role="search">
        <input type="search" class="form-control" name="searchString" th:field="${pv.searchString}"/>
        <button id="btnSearch" type="submit" class="btn btn-default">Поиск
        </button>
    </form>
    <div th:if="${pv.size == 0}" id="notFound" style="text-align: center" class="alert alert-error">
        По вашему запросу ничего не найдено
    </div>
</div>

<div th:fragment="head">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">Список товара</a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <a class="btn btn-primary" th:href="@{/showBasket}">Показать содержимое корзины</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>
