<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="main">
    <table class="table table-striped">
        <tbody >
        <tr th:each="item : ${pv.products}">
            <td>
                <img th:src="@{getPhoto?id=}+${item.id}" width="130" style="float:left; padding-right: 10px; vertical-align: middle;display: inline-block;" alt="no image">
<!--                <a th:href="@{/showProduct?id=}+${item.id}"> -->
                    <div th:inline="text" style="vertical-align: middle;display: inline-block;height: 100%;">
                    <b>Код продукта</b> : [[${item.id}]]
                    <br><b>Описание</b> : [[${item.name}]]</br>
                    <b>Цена</b> : [[${item.price}]] грн.
                    </div>
<!--                </a> -->
                </img>
            </td>
            <td  style="vertical-align: middle;">
                <button class="btn" th:id="${item.id}" style="float: right" onclick="addToBasket($(this))">Добавить в заказ
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:fragment="productGroup">
    <nav class="vertical">
        <ul class="nav">
            <li th:each="category : ${pv.categories}"><a th:text="${category.name}"></a>
                <div>
                    <ul>
                        <li th:each="subCat : ${category.childGroups}"><a th:text="${subCat.name}"
                                                                          th:href="@{/loadProductsByGroupId?(groupId=${subCat.id})}"></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div th:fragment="search1">

    <form th:action="@{/searchProducts}" method="get" role="search" >

        <input type="search" class="form-control" name="searchString" th:field="${pv.searchString}" style="width:500px"/>
        <button id="btnSearch" type="submit" class="btn btn-default" style="margin-top: -10px">Поиск</button>
    </form>
       <div th:if="${pv.size == 0}" style="text-align: center; margin-left: -200px" class="alert alert-error">По вашему запросу ничего не найдено</div>
</div>

<div th:fragment="head">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">Список товара</a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <a class="btn btn-primary" th:href="@{/showBasket}">Показать содержимое корзины</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>
